<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>{% block pagetitle %}Store {% endblock %}</title>
</head>
<body>
    <header>
        <div>
            <h1 class="logo">
                <a href="{{ url_for('home') }}">Grocery Store</a>
            </h1>
            <form target="_blank" action="https://github.com/marcusbonacci/acit-2515-store">
                <button class="source" type="submit">Source Code</button>
            </form>
        </div>
        <nav>
            <a href="{{ url_for('products.view_products') }}" class="nav-link">Products</a>
            <a href="{{ url_for('customers.view_customers') }}" class="nav-link">Customers</a>
            <a href="{{ url_for('categories.view_categories') }}" class="nav-link">Categories</a>
            <a href="{{ url_for('orders.view_orders') }}" class="nav-link">Orders</a>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>