{% extends "base.html" %}
{% block pagetitle %} Customers {% endblock %}

{% block content %}
<h2>Customers</h2>
<span>
    <a href="{{ url_for('home') }}">Home</a> /
    <a href="{{ url_for('customers.view_customers')}}">Customers</a>
</span>
<table>
    <!-- Headers -->
    <tr>
        <th>Name</th>
        <th>Phone</th>
    </tr>
    <!-- Data -->
    {% for customer in customers %}
    <tr>
        <td>
            <a href="{{ url_for('customers.details', id=customer.id )}}">
                {{ customer.name.title() }}
            </a>
        </td>
        <td>{{ customer.phone }}</td>
    </tr>
    {% endfor %}
</table>

<ul>

</ul>

{% endblock %}