{% extends "base.html" %}
{% block pagetitle %}Products {% endblock %}

{% block content %}
<h2>Products</h2>
<span>
    <a href="{{ url_for('products.view_products') }}">Products</a>
</span>
<table>
    <!-- Headers -->
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Inventory</th>
        <th>Category</th>
    </tr>
    <!-- Data -->
    {% for product in products %}

    {% set cur_stock = "default" %}
    {% if product.inventory == 0 %}
    {% set cur_stock = "critical" %}
    {% elif product.inventory <= 5 %}
    {% set cur_stock = "danger" %}
    {% elif product.inventory <= 15 %}
        {% set cur_stock = "low" %}
    {% endif %}

    <tr>
        <td>
            <a href="{{ url_for('products.details', id=product.id) }}">
                {{ product.name.title() }}
            </a>
        </td>
        <td>${{ product.price }}</td>
        <td stock="{{ cur_stock }}">{{ product.inventory, cur_stock.title() }}</td>
        <td>
            <a href="{{ url_for('categories.details', name=product.category.name) }}">
                {{ product.category.name.title() }}
            </a>
        </td>
    </tr>
    {% endfor %}
</table>


{% endblock %}