{% extends "base.html" %}
{% block pagetitle %} Orders {% endblock %}

{% block content %}
<h2>Orders</h2>
<span>
    <a href="{{ url_for('home') }}">Home</a> /
    <a href="{{ url_for('orders.view_orders') }}">Orders</a>
</span>

<table>
    <!-- Headers -->
    <tr>
        <th>Id</th>
        <th>Customer</th>
        <th>Amount</th>
        <th>Details</th>
        <th>Status</th>
    </tr>

    {% for order in orders %}
        <tr>
            <td>{{ order.id }}</td>
            <td>
                <a href="{{ url_for('customers.details', id=order.customer.id) }}">
                    {{ order.customer.name.title() }}
                </a>
            </td>
            <td>${{ order.estimate() }}</td>
            <td>
                <a href="{{ url_for('orders.details', id=order.id) }}">View Order</a>
            </td>
            <td>
                {% if order.completed %}
                <p>Completed</p>
                {% else %}
                <p>Pending</p>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
</table>

{% endblock %}