@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  font-family: "roboto", "sans-serif";

  --color-primary: rgb(63, 140, 63);
  --color-gray: rgb(122, 122, 122);
  --color-light-gray: rgb(222, 222, 222);

  --color-text: rgb(255, 255, 255);

  --critical: rgb(255, 78, 78);
  --danger: rgb(255, 186, 57);
  --low: rgb(255, 255, 84);
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
    margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

a {
  color: black;
  text-decoration: none;
  transition: 75ms;
  font-weight: 500;
}

a:hover {
  color: var(--color-primary);
}

/* START */

body {
  padding-inline: 3rem;
  padding-block-start: .5rem;
}

span {
  display: flex;
  padding-block: .5rem;
}

span * {
  padding-inline: .5rem;
}

span *:nth-child(1) {
  padding-inline: 0;
  padding-inline-end: .5rem;
}

abbr {
  color: var(--critical);
  font-weight: 500;
}

button {
  background-color: var(--color-primary);
  color: var(--color-text);
  padding: .25rem;
  padding-inline: .5rem;
  border-radius: .5rem;
  border: none;
  width: 150px;
  transition: 75ms;
}

button:hover {
  filter: brightness(90%)
}

.faded {
  background-color: var(--color-gray)
}

.faded:hover {
  cursor: not-allowed;
}

.source {
  background-color: rgb(7, 115, 231);
}

table {
  border-collapse: collapse;
}

th {
  text-align: left;
}

td, th {
  border-bottom: 1px var(--color-gray) solid;
  padding: .25rem;
  padding-inline: .5rem;
}

tr:nth-child(even) {
  background-color: var(--color-light-gray);
}

td a, p a {
  text-decoration: underline;
}

/* Header / Navbar */
header {
  border-bottom: 1px var(--color-gray) solid;
  padding-block: .25rem;
}

header div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  display: flex;
  gap: .75rem;
  padding-bottom: .25rem;
}

.price {
  display: flex;
  border-top: 1px var(--color-light-gray) solid;
  margin-block: .5rem;
  padding-top: .5rem;
  gap: .5rem;
}

/* Other */
.critical {
  color: var(--critical);
}

.good {
  color: rgb(25, 157, 25);
}

/* Stock */
[stock="critical"] {
  background-color: var(--critical) !important;
}

[stock="danger"] {
  background-color: var(--danger) !important;
}

[stock="low"] {
  background-color: var(--low) !important;
}