@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  font-family: "roboto", "sans-serif";

  --critical: rgb(255, 78, 78);
  --danger: rgb(255, 186, 57);
  --low: rgb(255, 255, 84);
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
    margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

/* START */

a {
  text-decoration: none;
}

main {
    padding: 1rem;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline: 1rem;
    margin-block-start: .5rem;
    margin-block-end: 1rem;
    border-bottom: 1px solid black;
}

nav {
    display: flex;
    gap: 1rem;
}

.nav-link {
  color: black;
  transition: 150ms;
}

.nav-link:hover {
  color: red;
}

table {
    width: auto;
    border-collapse: collapse;

}

th, td {
    padding-inline: 10px;
    text-align: left;
}

th {
    /* background-color: lightgreen; */
    height: 30px;
}

tr:nth-child(odd) {
    /* background-color: rgb(183, 183, 183); */
}

tr:nth-child(even) {
    background-color: rgb(223, 222, 222);
}

table, th, td {
    border-bottom: 1px black solid;
}

/* Stock */
[stock="critical"] {
  background-color: var(--critical) !important;
}

[stock="danger"] {
  background-color: var(--danger) !important;
}

[stock="low"] {
  background-color: var(--low) !important;
}